:root{
    --primario: #3f2541;
    --secundario: #5b5d5c;
    --tercerario: #FAC30F;
    /*blanco y negro*/
    --blanco: #FFFFFF;
    --negro: #000000;
    
}
/*"hack" para conversion automatica de los px a rem*/
html {font-size: 62.5%;}
body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.6rem; /* 1 rem = 10px*/
    background-color: var(--blanco);
    margin: 0; padding: 0;
    min-height: 100vh;
    justify-content: center;
    align-items: center;    
}
/*INICIA: CSS HEADER*/
.titulo{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}.span{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
}
/*TERMINA: CSS HEADER*/

.contenedor{
    /*margin nos permite indicar donde iran los elementos*/
    /*En este caso, esta configuracion de margin nos permite centrar un elemento*/
    /*top-right-bottom-left*/
    /*top/bottom-right/left*/
    margin: 0 auto; 
    /*Con esta propiedad el elemento toma un maximo de 120rem si esta disponible, sino esta disponible, el elemento se ajusta al 100% del espacio disponible*/
    max-width: 100%;
}

/*INICIA: CSS DE LA NAVEGACION*/
/*nav-background abarca todo el espacio disponible para asignar el color de fondo*/
.headnav{
    margin-top: 4rem;
}
.main-nav{
    display: flex;
    justify-content: space-around;  
    align-items: center;  
}
.btn {
    position: relative;
    
}
.btn::before {
    transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    content: "";
    width: 50%;
    height: 100%;
    background: var(--tercerario);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 1rem;
}
.btn .btn-text {
    color: var(--negro);
    mix-blend-mode: luminosity;
    font-weight: 600;
  }

.btn:hover::before {
    background: var(--tercerario);
    width: 100%;
  }
.main-nav a{ /*aqui se coloco la clase y la etiqueta a la que se aplicara la propiedad*/
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
    color: var(--negro);
    padding: 1rem;
    
}
/*TERMINA: CSS DE LA NAVEGACION*/

/*INICIA: CSS MAIN*/
.center {
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 100%;
    margin: auto;
    
}

.tipography-h2
{
    font-family: 'Montserrat', sans-serif;
    font-size: 5rem;
    
    margin: 0;        
}  
.tipography-h3
{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    padding: 1rem 0 1rem 0;
    margin: 0;
    font-weight: 400;
}
/*  SALUDO*/
.main-message {
    padding-top: 4rem;
    
}
/* INFORMACION SOBRE MI */
.about-me
{
    padding-top: 1rem;
    padding-bottom: 14rem;
    background-color: var(--tercerario);
    color: var(--blanco);
}
.about-me-paragraph 
{
    max-width: 100rem;
    line-height: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight:500;
    text-align: center;
    
}
.tipography-h2-about-me{
    font-size: 3rem;
}
/*CAJAS DE LAS HABILIDADES*/
/*COLOCA LAS CARTAS UNA AL LADO DE OTRA*/
.container {
  margin-top: -14rem;
  padding: 0;
  align-items: center;  
  position: relative;
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
    
}
  /*NI PUTA IDEA DE QUE HACE*/
  .container .card {
    position:relative;
    cursor: pointer;
    
  }
  
  /*coloca los parametros de la transicion y el tamaño de las cartas*/
  .container .card .face {
    width: 50rem;
    height: 29rem;
    margin-left: 1rem;
    transition: 0.5s;
    border-radius: 3rem;
    
  }
  
  /*permite que la portada cubra todo el texto*/
  .container .card .face.face1 {
    position: relative;
    background: var(--secundario);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(10rem);
  }
  
  /*da color al posicionar el puntero encima y permite mostrar todo el texto*/
  .container .card:hover .face.face1 {
    background: var(--primario);
    transform: translateY(0);
  }
  
  /*da color al icono de la portada iluminandolo en blanco*/
  .container .card .face.face1 .content {
    opacity: 0.2;
    transition: 0.5s;
  }
  
  /*al aplicarse el efecto hover, la opacidad permite que se mantenga el icono visible*/
  .container .card:hover .face.face1 .content {
    opacity: 1;
  }
   /*tamaño del icono*/
  .container .card .face.face1 .content img {
    max-width: 10rem;
  }
  
  /*propiedades de los titulos de cada carta*/
  .container .card .face.face1 .content h3 {
    margin: 1rem 0 0;
    padding: 0;
    color: var(--negro);
    text-align: center;
    font-size: 2rem;
  }

  .container .card:hover .face.face1 .content h3 
  {
    color: #FAC30F;
  }
  
  /*propiedades de la carta que contiene la informacion*/
  /*translateY permite mover un elemento en las coordenadas Y*/
.container .card .face.face2 {
    position: relative;
    background: var(--blanco);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
    transform: translateY(-19rem);
}
  
  /*propiedad que determina la coordenada donde estara la portada durante el efecto hover */
.container .card:hover .face.face2 {
    transform: translateY(-3rem);
}
  
  /*NI PUTA IDEA QUE HACE, creo que controla el espacio dentro de los bloques de los parrafos*/
.container .card .face.face2 .content p {
    margin: 0;
    padding: 0;
}
.abstract {
  font-weight: 600;
  text-align: center;
}

/*centrar listas*/
.face.face2
{
  line-height: 1.7rem;
  text-align: center;
}
.content ul
{
  text-align: left; display: inline-block;
}
/*TERMINA: CSS MAIN*/

/*INICIA: FOOTER*/
footer
{
  position:fixed;
  bottom: 0;
  background-color: var(--primario);
  color: var(--blanco);
}
/*TERMINA: FOOTER*/


/*---------------------Seccion de medias queries---------------------*/
/*aqui creamos con css.json un snippset de media queries para escribir codigo mas rapido*/
@media screen and (min-width: 320px) and (max-width:480px) {
  /*nav*/
  .main-nav 
  {
    flex-direction: column;    
  }
  .main-nav a
  {
    margin-bottom:0.5rem;
  }
  /*main*/
  .main-message
  {
    padding-top: 1rem;
  }
  .tipography-h2
  {
    text-align: center;
    font-size: 3rem;
  }
  .tipography-h3
  {
    width: 35rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
  }
  .about-me
  {
    text-align: center;
    padding-top: 0;
    margin-top: 0;
  }
  .tipography-h2-about-me
  {
    font-size: 2.5rem;
  }
  .about-me-paragraph
  {
    width: 35rem;
    font-size: 2rem;
  }
  .container
  {
    display: flex;
    flex-direction: column;
  }

  .container .card .face {
    width: 30rem;
    height: 29rem;
    margin-left: 1rem;
    transition: 0.5s;
    border-radius: 3rem;
    
  }
  

  /*footer*/
  footer
  {
    position:static;
    font-size: 1.5rem;
    text-align: center;
  }
  .footer,h3
  {
    font-weight: 600;
  }
}
